<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514922088299-vedb8t6jip1do8sndajl5tna1v8tln9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514922088299-vedb8t6jip1do8sndajl5tna1v8tln9n</string>
	<key>API_KEY</key>
	<string>AIzaSyDSkZKVqlCjvDITrd6WAzmW6H6kPBWbtxk</string>
	<key>GCM_SENDER_ID</key>
	<string>514922088299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrevorSchmidt.w8trkr-swiftUI</string>
	<key>PROJECT_ID</key>
	<string>w8trkr-3356b</string>
	<key>STORAGE_BUCKET</key>
	<string>w8trkr-3356b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514922088299:ios:0b1ff371ae8271b9216e2e</string>
	<key>DATABASE_URL</key>
	<string>https://w8trkr-3356b-default-rtdb.firebaseio.com</string>
</dict>
</plist>